body{
    background: var(--color-light-2);
}
.p--40{
    padding-left: 2.5rem;
}

.m--10{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}
.main-title{
    font-size: 1.8rem !important;
}
.content-small{
    font-weight: 700;
    text-transform: uppercase;
}
.text--title{
    font-size: 0.8rem;
}
.list--title a{
    color: var(--color-dark-1);
}
.list--title a:hover {
    color: var(--main-color);
}
.text--item::after{
    content: "|";
    color: rgba(0,0,0,.54)!important;
    padding: 0 0.3rem;
}
.footer--title{
    font-weight: bold;
}
/* ============================    Navbar    =================================== */
.dropdown-showmore::after{
content: none
}
.dropdown{
    display: flex;
}
.navbar__customer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: var(--color-dark-1);
}
.navbar__customer .container{
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
}
.nav__menu{
    width: 6.875rem;
    height: 3.125rem;
}
li.nav-item{
    padding-left: 0.5rem;
}
a.nav-link{
    color: var(--color-light-1);
}a.nav-link:hover{
    color: var(--main-color)
}
.icon-search{
    font-size: 2rem;
    margin-right: 0.675rem;
    color: var(--color-light-1);
}
.icon-menu{
    font-size: 2rem;
    color: var(--color-light-1);
}
.customer__button-login{
    background: var(--main-color);
    color: var(--color-light-1);
}

/* ============================    Header    =================================== */
.header__customer {
	position: relative;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	background: url("https://source.unsplash.com/cV4qkkorDFY") 50% no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: black;
	background-size: cover;
}
/* ============================   Content   =================================== */
.content__customer .container{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 1200px;
}
.customer__content{
   background: var(--color-light-1);
   padding: 1.6rem 9rem 4.5rem;
   box-shadow: 0 2px 2px 0 rgb(50 50 50 / 10%);
   border-radius: 5px;
}
.container__content{
    margin-top: 2.1rem;
}
.content-1{
    margin-top: 6.25rem;
}
.content-2{
    margin-top: 3.5rem;
    position: relative;
}
.content-3{
    margin-top: 3.5rem;
    position: relative;
}
.content-4{
    margin-top: 3.5rem;
    background: none;
    padding:0;
    box-shadow: none;
    border-radius: none;
}
.customer__content-title{
    font-size: 1.325rem;
    font-weight: bold;
}

.img-content-2{
    transform: scale(2.1);
    position: absolute;
    top: -80.5px;
}
.img-content-3{
    transform: scale(1.3);
    position: absolute;
    top: -99px;
}
.customer__content ul{
    font-weight: normal;
}
/* Footer */
.seo__customer .container{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 1200px;
}
.footer__customer .container{
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 1200px;
}
.seo__customer ul{
    font-weight: normal;
}
.footer__customer ul{
    font-weight: normal;
}
ul.footer--list{
    list-style: none;
    line-height: 1.8;
}

.footer__customer .apps {
    width: 122px;
    height: 40px;
    display: grid;
    margin-bottom: 25px;
}
.apps__huawei-gallery-vi {
    background-image: url("../img/Huawei-gallery-vn.png");
    background-size: cover;
}
.apps__play-store-vi {
    background-image: url("../img/PlayStore-vn.png");
    background-size: cover;
}
.apps__app-store-vi {
    background-image: url("../img/AppStore-vn.png");
    background-size: cover;
}
.footer__customer .logo-footer {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 17px;
}
.block-footer-3{
    text-align: center;
}
.list-social{
    font-size: 1.6rem;
    display: flex;
}
ul.footer--list.list-social{
    justify-content: center;
}
.list-social li{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--color-light-1);
    margin-right: 1rem;
}
.block-footer{
    width: 80%;
}