.header-1 {
	position: relative;
	height: 80vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	background: url("https://source.unsplash.com/wD1LRb9OeEo/1600x900") 50% no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: black;
	background-size: cover;
}

.header-1.overlay {
	position: relative;
}

.header-1.overlay::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgb(1, 1, 1);
	opacity: 0.6;
}

.header-1 .container {
	position: relative;
	z-index: 2;
}

.hero-navbar {
	background: initial;
	background-color: rgb(68, 68, 68);
	transition-duration: 0.6s;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: all;
	backface-visibility: hidden;
}

.hero-navbar.navbar-no-bg {
	background: initial;
	background-color: rgba(0, 0, 0, 0.2);
}

.hero-navbar .navbar-dark .navbar-nav {
	font-size: 15px;
	color: rgb(255, 255, 255);
	font-weight: 600;
}

.hero-navbar .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
	border-width: 0px;
	border: initial;
}

.hero-navbar .navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
}

.hero-navbar .navbar-dark .navbar-nav .nav-link:focus {
	color: rgb(255, 255, 255);
	outline-color: initial;
	outline-style: initial;
	outline-width: 0px;
}

.hero-navbar .navbar-expand-md .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}

.site-header {
	background-color: rgba(0, 0, 0, 0.85);
	backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
	color: rgb(153, 153, 153);
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	transition-property: color;
    margin: 0px auto;

}

.site-header a:hover {
	color: rgb(255, 255, 255);
	text-decoration-line: none;
	text-decoration: initial;
}

.flex-equal > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
}

.link-underline-primary {
    border-bottom: 1px solid rgb(0, 123, 255);
}

@media (min-width: 768px) {
	.flex-md-equal > * {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0%;
	}
}

@media (max-width: 767px) {
	.hero-navbar.navbar-no-bg {
		background: initial;
		background-color: rgb(47, 47, 47);
	}
}

@media (max-width: 480px) {
	.display-2 {
		font-size: 44px;
	}

	.header-1 h2 {
		font-size: 20px;
	}
}